<div class="base">
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form class="base">
          <h1 class="base">فرم ورود</h1>
          <div>
            <input class="form-control" placeholder="نام کاربری" required="" type="text"/>
          </div>
          <div>
            <input class="form-control" placeholder="رمز ورود" required="" type="password"/>
          </div>
          <div>
            <a class="btn btn-default submit" routerLink="/">ورود</a>
            <a class="reset_pass base" routerLink="/recover">رمز ورود را از دست دادید؟</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <p class="change_link">جدید در سایت؟
              <a class="to_register base" routerLink="/register"> ایجاد حساب </a>
            </p>

            <div class="clearfix"></div>
            <br/>

            <div>
              <a  class="base" href="ashyanet.com">ashyanet</a>
            </div>
          </div>
        </form>
      </section>
    </div>

  </div>
</div>
