<div class="base">

  <div class="login_wrapper base">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>ایجاد حساب</h1>
          <div>
            <input class="form-control" placeholder="نام کاربری" required="" type="text"/>
          </div>
          <div>
            <input class="form-control" placeholder="ایمیل" required="" type="email"/>
          </div>
          <div>
            <input class="form-control" placeholder="رمز ورود" required="" type="password"/>
          </div>
          <div>
            <a class="btn btn-default submit" href="index.html">ارسال</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">در حال حاضر عضو هستید؟
              <a class="to_register" routerLink="/login"> ورود </a>
            </p>

            <div class="clearfix"></div>
            <br/>

            <div>
              <a href="ashyanet.com">ashyanet</a>
            </div>
          </div>
        </form>
      </section>
    </div>

  </div>
</div>
