<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>لیست مکان ها
      </h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p *ngIf="errorHapened" style="text-align: center" class="text-muted font-13 m-b-30">
        متاسفانه خطایی رخ داده است. لطفا بعدا مراجعه نمایید.
      </p>

      <p *ngIf="locations.length>0 && !errorHapened" class="text-muted font-13 m-b-30">
        در این بخش همه ی موقعیت های متعلق به شما قابل ملاحظه است.
        <a class="btn btn-default" routerLink="/panel/locations/create"> می توانید مکان جدید نیز بسازید.</a>

      </p>
      <table *ngIf="locations.length>0" id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>نام موقعیت مکانی</th>
          <th>کد نام موقعیت مکانی</th>
          <th>طول و عرض جغرافیایی</th>
          <th>والد موقعیت مکانی</th>
          <th>توضیحات</th>
          <th>عملیات</th>

        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let location of locations;let i = index">
          <td>{{i+1}}</td>
          <td>
            <div *ngIf="location.display_name===''">--</div>
            {{location.display_name}}
          </td>
          <td>{{location.locationname}}</td>
          <td>
            <div *ngIf="location.latitude==='' || location.longitude===''">--</div>
            {{location.latitude}},{{location.longitude}}
          </td>
          <td>
            <div *ngIf="location.parent===''">--</div>
            {{location.parent}}
          </td>
          <td>
            <div *ngIf="location.dsc===''">--</div>
            {{location.dsc}}
          </td>
          <td>
            <div class="btn-group  btn-group-sm">
              <a class="btn btn-primary" type="button">ویرایش</a>
              <a class="btn btn-danger" type="button">حذف</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="locations.length===0 &&  !errorHapened" class="text-muted font-13 m-b-30">
        مکانی برای نمایش وجود ندارد.
        <a class="btn btn-default" routerLink="/panel/locations/create">میتوانید مکان جدید بسازید.</a>
      </p>
    </div>
  </div>
</div>
