<div class="page-title">
  <div class="title_left">
    <h3>فرم جادویی</h3>
  </div>

</div>
<div class="clearfix"></div>

<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3>فرم جادویی
          <small>جلسات</small>
        </h3>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <!-- Smart Wizard -->
        <p>این یک فرم جادوگر پایه ای است که رنگ ها را از طرح انتخاب به ارث می برد.</p>
        <div id="wizard" class="form_wizard wizard_horizontal">
          <ul class="wizard_steps">
            <li>
              <a  [ngClass]="whatIsMyStyle(1)">
                <span class="step_no">1</span>
                <span class="step_descr">
                                              قدم اول<br/>
                                              <small>   توضیحات قدم اول</small>
                                          </span>
              </a>
            </li>
            <li>
              <a  [ngClass]="whatIsMyStyle(2)">
                <span class="step_no">2 </span>
                <span class="step_descr">
                                              قدم دوم<br/>
                                              <small> توضیحات قدم دوم</small>
                                          </span>
              </a>
            </li>
            <li>
              <a [ngClass]="whatIsMyStyle(3)">
                <span class="step_no">3 </span>
                <span class="step_descr">
                                              قدم سوم<br/>
                                              <small>توضیحات قدم سوم</small>
                                          </span>
              </a>
            </li>
            <li>
              <a  [ngClass]="whatIsMyStyle(4)">
                <span class="step_no">4</span>
                <span class="step_descr">
                                              قدم چهارم<br/>
                                              <small>توضیحات قدم چهارم</small>
                                          </span>
              </a>
            </li>

          </ul>

          <div *ngIf="currentSection === 1" id="step-1">
            <h3 class="StepTitle">محتوای قدم اول</h3>


          </div>
          <div *ngIf="currentSection === 2"  id="step-2">
            <h3 class="StepTitle">محتوای قدم دوم</h3>
            <div class="input-group">
              <input type="text" class="form-control"
                     aria-label="Text input with dropdown button">
              <div class="input-group-btn">
                <button class="btn" disabled >sdsad</button>
              </div>
              <!-- /btn-group -->
            </div>


            <div class="x_content">

              <p>جدول ساده با لیست پروژه با پیشرفت و گزینه های ویرایش</p>


            </div>
          </div>
          <div *ngIf="currentSection === 3" id="step-3">
            <h3 class="StepTitle">محتوای قدم سوم</h3>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
          </div>
          <div *ngIf="currentSection === 4" id="step-4">
            <h3 class="StepTitle">محتوی قدم چهارم</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

            </p>
          </div>
          <div style="float: left">
            <button class="btn btn-default" [disabled]="currentSection === 1"  (click)="prevSection()"> قبلی </button>
            <button class="btn btn-primary" [disabled]="currentSection === MaxSection " (click)="nexSection()"> بعدی </button>

          </div>
        </div>
        <!-- End SmartWizard Content -->


        <!-- End SmartWizard Content -->
      </div>
    </div>
  </div>
</div>
