<div class="col-md-3 left_col hidden-print" xmlns="">
  <div class="left_col scroll-view">
    <app-logo></app-logo>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <app-profile-info></app-profile-info>
    <!-- /menu profile quick info -->
    <br/>
    <!-- sidebar menu -->
    <app-sidebar-menu></app-sidebar-menu>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <app-sidebar-footer></app-sidebar-footer>
    <!-- /menu footer buttons -->
  </div>
</div>

