
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>لیست دستگاه ها
      </h2>

      <div class="clearfix"></div>
    </div>
    <p *ngIf="errorHapened && !notAccess" class="text-muted font-13 m-b-30" style="text-align: center">
      متاسفانه خطایی رخ داده است. لطفا بعدا مراجعه نمایید.
    </p>

    <p *ngIf="deviceHasData && !errorHapened" class="text-muted font-13 m-b-30">
      در این بخش همه ی دستگاه های متعلق به شما قابل ملاحظه است.
      <a class="btn btn-default" routerLink="/panel/devices/create"> می توانید دستگاه جدید نیز بسازید.</a>

    </p>
    <div class="x_content">

      <table *ngIf="deviceHasData" class="table table-striped table-bordered" id="datatable-fixed-header">
        <thead>
        <tr >
          <th></th>
          <th>نام دستگاه</th>
          <th>توضیحات</th>
          <th>نوع دستگاه</th>
          <th>موقعیت مکانی</th>
          <th>به روز رسانی</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let device of devices;let i = index">
          <td>{{i+1}}</td>
          <td>{{device.devicename}}</td>
          <td>{{device.description}}</td>
          <td>{{device.type}}</td>
          <td>{{device.location}}</td>
          <td>  <div class="btn-group  btn-group-sm">
            <a class="btn btn-primary" type="button">ویرایش</a>
            <a class="btn btn-danger" type="button">حذف</a>
          </div></td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="!deviceHasData &&  !errorHapened" class="text-muted font-13 m-b-30">
        دستگاهی برای نمایش وجود ندارد.
        <a class="btn btn-default" routerLink="/panel/devices/create"> می توانید دستگاه جدید رو بسازید.</a>
      </p>
    </div>
  </div>
</div>
