<div class="page-title">
  <div class="title_left">
    <h3>مدیریت دستگاه</h3>
  </div>


  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>ایجاد دستگاه جدید
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!-- Smart Wizard -->
          <p>این یک فرم جادوگر پایه ای است که رنگ ها را از طرح انتخاب به ارث می برد.</p>
          <div class="form_wizard wizard_horizontal" id="wizard">
            <ul *ngIf="advanceConfig" class="wizard_steps">
              <li>
                <a [ngClass]="getSectionStyle(1)">
                  <span class="step_no">1</span>
                  <span class="step_descr">
                   قدم اول<br/>
                      <small>تنظیمات اولیه</small>
                         </span>
                </a>
              </li>
              <li>
                <a [ngClass]="getSectionStyle(2)">
                  <span class="step_no">2</span>
                  <span class="step_descr">
                    قدم دوم<br/>
                    <small>publish</small>
                                          </span>
                </a>
              </li>
              <li>
                <a [ngClass]="getSectionStyle(3)">
                  <span class="step_no">3</span>
                  <span class="step_descr">
                                              قدم سوم<br/>
                                              <small>subscribe</small>
                                          </span>
                </a>
              </li>
              <li>
                <a [ngClass]="getSectionStyle(4)">
                  <span class="step_no">4</span>
                  <span class="step_descr">
                                              قدم چهارم<br/>
                                              <small>subscribe/publish</small>
                                          </span>
                </a>
              </li>
              <li>
                <a [ngClass]="getSectionStyle(5)">
                  <span class="step_no">5</span>
                  <span class="step_descr">
                                              قدم 5<br/>
                                              <small> دستورات</small>
                                          </span>
                </a>
              </li>
              <li>
                <a [ngClass]="getSectionStyle(6)">
                  <span class="step_no">6</span>
                  <span class="step_descr">
                                              قدم 6<br/>
                                              <small>داده ها</small>
                                          </span>
                </a>
              </li>
            </ul>
            <form (ngSubmit)="onSubmit()"  [formGroup]="createDeviceForm" >
              <div *ngIf="section ==1" class="form-horizontal form-label-left">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceName">نام دستگاه
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="deviceName" required
                           type="text" [(ngModel)]="deviceName" name="deviceName" formControlName="deviceName">
                  </div>
                <span *ngIf="!createDeviceForm.get('deviceName').valid && createDeviceForm.get('deviceName').touched" class="help-block" style="color: red" > لطفا نام دستگاه را وارد نمایید.</span>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dsc" [(ngModel)]="dsc"> توضیحات  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="dsc" name="dsc"  type="text" formControlName="description" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceOwner">مالک دستگاه</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" disabled="disabled" id="deviceOwner"
                           name="deviceOwnerName"  type="text" [(ngModel)]="deviceOwnerName" formControlName="owner">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceKey">کلید</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" disabled="disabled" id="deviceKey"
                           name="deviceKey"  [(ngModel)]="deviceKey" formControlName="key" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">موقعیت مکانی
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                    <select class="form-control" [(ngModel)]="location" name="type" id="location" [(ngModel)]="location" name="location" formControlName="location">
                      <option value="home">home</option>
                      <option value="room">room</option>

                    </select>
                    <small class="text-navy">
                      <a style="cursor: pointer" routerLink="/panel/locations/create">  مکان جدید؟ </a>
                    </small>
                  </div>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">نوع دستگاه</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" ngModel name="type" formControlName="type">
                      <option value="lamp">lamp</option>
                      <option value="move">movement</option>

                    </select>
                    <small class="text-navy">
                      <a style="cursor: pointer" routerLink="/panel/devices/types/create">  نوع جدید؟ </a>
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">رمز عبور
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="password"
                           placeholder="رمز عبور را وارد نمایید."
                           required="required" type="password" [(ngModel)]="password" name="password" formControlName="password">

                  </div>
                  <span *ngIf="!createDeviceForm.get('password').valid && createDeviceForm.get('password').touched" class="help-block" style="color: red" > لطفا رمز عبور را وارد کنید</span>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rePassword">تکرار رمز عبور
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="rePassword"
                           placeholder="مجددا رمز عبور را وارد نمایید."
                           required="required" type="password" [(ngModel)]="rePassword"  formControlName="rePassword" name="rePassword">

                  </div>
                  <span *ngIf="!createDeviceForm.get('rePassword').valid && createDeviceForm.get('rePassword').touched" class="help-block" style="color: red" > لطفا رمز عبور را مجددا وارد کنید</span>

                </div>

                <div class="form-group">

                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">تنظیمات پیش رفته
                    <br>
                  </label>

                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input (change)="advanceConfigChecked()" type="checkbox"> فعال شدن تنظیمات مربوط
                        به بروکر، دیتا و کامند
                      </label>
                      <br>
                      <small class="text-navy"> این تنظیمات پس از ایجاد دستگاه نیز می توانند اعمال گردند.
                      </small>
                    </div>

                  </div>
                </div>
                <button *ngIf="!advanceConfig" class="btn btn-success" style="float: left" type="submit">ایجاد
                  دستگاه
                </button>

              </div>
              <div *ngIf="section ==2" class="form-horizontal form-label-left">
                <h3 class="StepTitle">اضافه کردن آدرس تاپیک های publish</h3>
                <p>
                  در این گام آدرس تاپیک هایی که میخواهید دستگاه شما آنها را پیگیری نماید را وارد نمایید.
                </p>
                <p>
                  به ابتدای تمامی آدرس های
                </p>
                <div class="form-horizontal form-label-left">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="publishTopicName" name="publishTopicName" formControlName="publish">
                        <div class="input-group-btn">
                          <button class="btn" disabled> {{basePathToAddTopicAddress}}</button>
                        </div>
                        <!-- /btn-group -->

                      </div>
                      <button class="btn btn-success" style="float: left" (click)="addPublishTopicAdress()">اضافه کردن تاپیک</button>
                      <table class="table table-striped ">
                        <thead>
                        <tr>
                          <th style="width: 1%"></th>
                          <th style="width: 20%">نام تاپیک</th>
                          <th style="width: 20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let address of ArrayPublishTopicAddress;let i = index">
                          <td>{{i+1}}</td>
                          <td>
                            <a>{{address}}</a>
                          </td>
                          <td class="nowrap">
                            <a class="btn btn-danger btn-xs"  (click)="deletPublishTopic(i)"><i class="fa fa-trash-o"></i> حذف </a>
                          </td>
                        </tr>

                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>
              </div>
              <div *ngIf="section ==3" class="form-horizontal form-label-left">
                <h3 class="StepTitle">اضافه کردن آدرس تاپیک های subscribe</h3>
                <p>
                  سه
                </p>

                <div class="form-horizontal form-label-left">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <input class="form-control" type="text" name="subscribeTopicName" formControlName="subscribe">
                        <div class="input-group-btn">
                          <button class="btn" disabled> /dsadsadsdsa/username</button>
                        </div>
                        <!-- /btn-group -->

                      </div>
                      <button class="btn btn-success" style="float: left">اضافه کردن تاپیک</button>
                      <table class="table table-striped ">
                        <thead>
                        <tr>
                          <th style="width: 1%"></th>
                          <th style="width: 20%">نام تاپیک</th>
                          <th style="width: 20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a>dfsdf5d3f4354d3f5sd3f5 Backend UI</a>
                          </td>
                          <td class="nowrap">
                            <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> حذف </a>
                          </td>
                        </tr>

                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>
              </div>
              <div *ngIf="section ==4" class="form-horizontal form-label-left">
                <h3 class="StepTitle">اضافه کردن آدرس تاپیک های subscribe/publish</h3>
                <p>
                  چهار
                </p>

                <div class="form-horizontal form-label-left">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <input class="form-control" type="text" formControlName="pubsub" name="pubSubTopicName">
                        <div class="input-group-btn">
                          <button class="btn" disabled> /dsadsadsdsa/username</button>
                        </div>
                        <!-- /btn-group -->

                      </div>
                      <button class="btn btn-success" style="float: left">اضافه کردن تاپیک</button>
                      <table class="table table-striped ">
                        <thead>
                        <tr>
                          <th style="width: 1%"></th>
                          <th style="width: 20%">نام تاپیک</th>
                          <th style="width: 20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a>Pesamakisssssssssssssssssssssssssssssssssssssssssssssssssni Backend UI</a>
                          </td>
                          <td class="nowrap">
                            <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> حذف </a>
                          </td>
                        </tr>

                        </tbody>
                      </table>

                    </div>

                  </div>

                </div>
              </div>
              <div *ngIf="section ==5" class="form-horizontal form-label-left">
                <h3 class="StepTitle">محتوی قدم چهارم</h3>
                <p>
                  پنچ
                </p>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandName">نام دستور

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="commandName"
                           type="text" ngModel name="commandName" formControlName="commandName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandValue">مقدار دستور

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="commandValue"
                           type="text" formControlName="commandValue" name="commandValue">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandDsc">توضیحات

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="commandDsc"
                           type="text"  name="commandDsc" formControlName="commandDescription">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandAddress" >آدرس تاپیک

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="commandAddress"
                           type="text" formControlName="commandAddress" [(ngModel)]="commandAddress" name="commandAddress">
                  </div>
                </div>
                <table class="table table-striped ">
                  <thead>
                  <tr>
                    <th style="width: 1%"></th>
                    <th style="width: 20%">نام دستور</th>
                    <th style="width: 20%">مقدار دستور</th>
                    <th style="width: 20%">توضیحات دستور</th>
                    <th style="width: 20%">آدرس تاپیک</th>
                    <th style="width: 20%"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a>ON</a>
                    </td>
                    <td>
                      <a>on</a>
                    </td>
                    <td>
                      <a>روشن کردن</a>
                    </td>
                    <td>
                      <a>/sdsd/sdsd/ss12dsd</a>
                    </td>
                    <td class="nowrap">
                      <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> حذف </a>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div *ngIf="section ==6" class="form-horizontal form-label-left">
                <h3 class="StepTitle">محتوی قدم ششم</h3>
                <p>
                  شش
                </p>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataName">نام داده

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="dataName"
                           type="text" formControlName="dataName" name="dataName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataType">نوع داده

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="dataType" name="dataType" formControlName="dataType">
                      <option value="int">عددی</option>
                      <option value="string">رشته</option>
                      <option value="json">جیسون</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataDsc">توضیحات

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="dataDsc"
                           type="text" name="dataDsc" formControlName="dataDescription">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataAddress">آدرس تاپیک

                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="dataAddress"
                           type="text" name="dataAddress" formControlName="dataAddress">
                  </div>
                </div>

                <table class="table table-striped ">
                  <thead>
                  <tr>
                    <th style="width: 1%"></th>
                    <th style="width: 20%">نام داده</th>
                    <th style="width: 20%">نوع داده</th>
                    <th style="width: 20%">توضیحات داده</th>
                    <th style="width: 20%">آدرس تاپیک</th>
                    <th style="width: 20%"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a>ON</a>
                    </td>
                    <td>
                      <a>on</a>
                    </td>
                    <td>
                      <a>روشن کردن</a>
                    </td>
                    <td>
                      <a>/sdsd/sdsd/ss12dsd</a>
                    </td>
                    <td class="nowrap">
                      <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> حذف </a>
                    </td>
                  </tr>

                  </tbody>
                </table>
                <button class="btn btn-success" style="float: left" type="submit">ایجاد دستگاه</button>
              </div>
            </form>
          </div>


        </div>
        <!-- End SmartWizard Content -->


        <!-- End SmartWizard Content -->
      </div>

      <button (click)="prev()" *ngIf="advanceConfig" [disabled]="isFirstSection()" class="btn btn-default"> بازگشت
      </button>
      <button (click)="next()" *ngIf="advanceConfig" [disabled]="isLastSection()" class="btn btn-primary"> قدم بعد
      </button>
    </div>


  </div>
</div>
