<div class="page-title">
  <div class="title_left">
    <h3>مدیریت دستگاه</h3>
  </div>


  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>ایجاد دستگاه جدید
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div>
            <p *ngIf="LocationEmpty">
              شما هنوز مکانی تعریف نکرده اید. برای ایجاد دستگاه می بایست مکانی تعریف نمایید.
              <a class="btn btn-default" routerLink="/panel/locations/create"> مکان جدید بسازید.</a>
            </p>
            <p *ngIf="TypesEmpty">
              نوع دستگاه جدیدی وجود ندارد.
              <a class="btn btn-default" routerLink="/panel/devices/types/create"> نوع دستگاه جدید بسازید.</a>

            </p>
          </div>

          <!-- Smart Wizard -->
          <div class="form_wizard wizard_horizontal" id="wizard">

            <form *ngIf="types.length>0 && locations.length>0" (ngSubmit)="onSubmit(formRegister)"
                  #formRegister="ngForm">
              <div  class="form-horizontal form-label-left">
                <div class="help-block" style="color: blue;text-align: center" *ngIf="!formRegister.valid && formRegister.submitted"> لطفا به پیغام های خطا توجه کنید. تشکر. </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceName">نام دستگاه
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="deviceName" required
                           type="text" [(ngModel)]="device.devicename" name="deviceName" #deviceNameElement="ngModel"  >
                  </div>
                  <div class="help-block" style="color: red" *ngIf="!deviceNameElement.valid && deviceNameElement.touched "> لطفا نام دستگاه را وارد نمایید.</div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dsc"> توضیحات
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="dsc" name="dsc"  type="text" [(ngModel)]="device.description" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceOwner">مالک دستگاه</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" disabled="disabled" id="deviceOwner"
                           name="deviceOwnerName"  type="text" [(ngModel)]="deviceOwnerName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deviceKey">کلید</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" disabled="disabled" id="deviceKey"
                           name="deviceKey"  [(ngModel)]="deviceKey" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">موقعیت مکانی
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" [(ngModel)]="device.location" id="location" required name="location" #locationElement="ngModel">
                      <option *ngFor="let l of locations" [value]="l.locationname">
                        <div *ngIf="l.display_name===''">{{l.locationname}}</div>
                        <div *ngIf="l.display_name!==''">{{l.display_name}}</div>
                      </option>
                    </select>

                    <small class="text-navy">
                      <a style="cursor: pointer" routerLink="/panel/locations/create">  مکان جدید؟ </a>
                    </small>
                  </div>
                  <div class="help-block" style="color: red" *ngIf="!locationElement.valid && locationElement.touched ">
                    لطفا مکان دستگاه را وارد نمایید.
                  </div>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">نوع دستگاه
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" [(ngModel)]="device.type" id="type" name="type" required #typeElement="ngModel">
                      <option *ngFor="let t of types" [value]="t.name">{{t.name}}</option>
                    </select>

                    <small class="text-navy">
                      <a style="cursor: pointer" routerLink="/panel/devices/types/create">  نوع جدید؟ </a>
                    </small>
                  </div>
                  <div class="help-block" style="color: red" *ngIf="!typeElement.valid && typeElement.touched"> لطفا نوع
                    دستگاه را وارد نمایید.
                  </div>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">رمز عبور
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="password"
                           placeholder="رمز عبور را وارد نمایید."
                           required="required" type="password" [(ngModel)]="password" name="password" #passElement="ngModel">
                  </div>
                  <div class="help-block" style="color: red" *ngIf="!passElement.valid && passElement.touched "> لطفا رمز عبور را وارد نمایید.</div>

                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rePassword">تکرار رمز عبور
                    <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" id="rePassword"
                           placeholder="مجددا رمز عبور را وارد نمایید."
                           required="required" type="password" [(ngModel)]="rePassword" name="rePassword" #rePassElement="ngModel">
                  </div>
                  <div class="help-block" style="color: red" *ngIf="rePassElement.value != passElement.value  && rePassElement.touched  "> مقادیر رمز عبور و تکرار رمز عبور با یکدیگر برابر نیستند.</div>

                </div>

                <div class="form-group" >

                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">تنظیمات پیش رفته
                    <br>
                  </label>

                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input (change)="advanceConfigChecked()" class="flat" type="checkbox"[checked]="advanceConfig"> فعال شدن تنظیمات مربوط
                        به بروکر، دیتا و کامند
                      </label>
                      <br>
                      <small class="text-navy"> این تنظیمات پس از ایجاد دستگاه نیز می توانند اعمال گردند.
                      </small>
                    </div>

                  </div>
                </div>

                <button *ngIf="!advanceConfig" class="btn btn-success" style="float: left" type="submit" [disabled]="!formRegister.valid ||
                !IsFormValid || !IsPredataLoaded">ایجاد
                  دستگاه
                </button>

              </div>
              <hr *ngIf="advanceConfig">
              <div *ngIf="advanceConfig">
                <div  class="form-horizontal form-label-left">
                  <h4 class="StepTitle">اضافه کردن آدرس تاپیک های publish</h4>
                  <p>
                    در این گام آدرس تاپیک هایی که میخواهید دستگاه شما آنها را پیگیری نماید را وارد نمایید.
                  </p>
                  <p>
                    به ابتدای تمامی آدرس های
                  </p>
                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                          <input class="form-control" style="direction: ltr" type="text" [(ngModel)]="publishTopicName" #publishElement="ngModel" name="publishTopicName">
                          <div class="input-group-btn">
                            <button class="btn"  style="direction: ltr" disabled> {{basePathToAddTopicAddress}}</button>
                          </div>
                          <!-- /btn-group -->

                        </div>
                        <button class="btn btn-default" style="float: left" (click)="addPublishTopicAdress()" type="button">اضافه کردن تاپیک</button>
                        <div class="help-block" style="color: red" *ngIf="!IsValidTopicName(publishElement.value) && publishElement.touched">تنها حروف و اعداد انگلیسی و - و / قابل قبول است.</div>

                        <table class="table table-striped " *ngIf="device.publish.length>0">
                          <thead>
                          <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 20%">نام تاپیک</th>
                            <th style="width: 20%"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let address of device.publish;let i = index">
                            <td>{{i+1}}</td>
                            <td>
                              <a style="direction: ltr">{{address}}</a>
                            </td>
                            <td class="nowrap">
                              <a class="btn btn-danger btn-xs"  (click)="deletPublishTopic(i)"><i class="fa fa-trash-o"></i> حذف </a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>

                  </div>
                </div>
                <div  class="form-horizontal form-label-left">
                  <h4 class="StepTitle">اضافه کردن آدرس تاپیک های subscribe</h4>
                  <p>
                    سه
                  </p>

                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                          <input class="form-control" style="direction: ltr" type="text" name="subscribeTopicName" [(ngModel)]="subscribeTopicName" #subElement="ngModel">
                          <div class="input-group-btn">
                            <button class="btn" style="direction: ltr" disabled> {{basePathToAddTopicAddress}}</button>
                          </div>
                          <!-- /btn-group -->

                        </div>
                        <button class="btn btn-default" style="float: left" type="button" (click)="addSuubscribeTopicName()">اضافه کردن تاپیک</button>
                        <div class="help-block" style="color: red" *ngIf="!IsValidTopicName(subscribeTopicName) && subElement.touched">تنها حروف و اعداد انگلیسی و - و / قابل قبول است.</div>

                        <table class="table table-striped " *ngIf="device.subscribe.length>0">
                          <thead>
                          <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 20%">نام تاپیک</th>
                            <th style="width: 20%"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let s of device.subscribe; let i =index">
                            <td>{{i+1}}</td>
                            <td>
                              <a style="direction: ltr">{{s}}</a>
                            </td>
                            <td class="nowrap">
                              <a class="btn btn-danger btn-xs" (click)="deletSubTopic(i)" ><i class="fa fa-trash-o"></i> حذف </a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>

                  </div>
                </div>
                <div  class="form-horizontal form-label-left">
                  <h4 class="StepTitle">اضافه کردن آدرس تاپیک های subscribe/publish</h4>
                  <p>
                    چهار
                  </p>

                  <div class="form-horizontal form-label-left">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                          <input class="form-control" style="direction: ltr" type="text" [(ngModel)]="pubSubTopicName" name="pubSubTopicName" #pubsubelemt="ngModel">
                          <div class="input-group-btn">
                            <button class="btn" style="direction: ltr" disabled> {{basePathToAddTopicAddress}}</button>
                          </div>
                          <!-- /btn-group -->

                        </div>
                        <button class="btn btn-default" style="float: left" type="button" (click)="addSPubSubTopicName()">اضافه کردن تاپیک</button>
                        <div class="help-block" style="color: red" *ngIf="!IsValidTopicName(pubSubTopicName) && pubsubelemt.touched">تنها حروف و اعداد انگلیسی و - و / قابل قبول است.</div>

                        <table class="table table-striped " *ngIf="device.pubsub.length >0">
                          <thead>
                          <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 20%">نام تاپیک</th>
                            <th style="width: 20%"></th>
                          </tr>
                          </thead>
                          <tbody >
                          <tr *ngFor="let ps of device.pubsub; let i= index">
                            <td>{{i+1}}</td>
                            <td>
                              <a style="direction: ltr">{{ps}}</a>
                            </td>
                            <td class="nowrap">
                              <a class="btn btn-danger btn-xs" (click)="deletPubSubTopic(i)"><i class="fa fa-trash-o"></i> حذف </a>
                            </td>
                          </tr>

                          </tbody>
                        </table>

                      </div>

                    </div>

                  </div>
                </div>
                <div  class="form-horizontal form-label-left">
                  <h4 class="StepTitle">محتوی قدم چهارم</h4>
                  <p>
                    پنچ
                  </p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandName">نام دستور

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input class="form-control col-md-7 col-xs-12" id="commandName"
                             type="text" [(ngModel)]="command_name" name="commandName">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandDsc">توضیحات

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input class="form-control col-md-7 col-xs-12" id="commandDsc"
                             type="text" [(ngModel)]="command_dsc" name="commandDsc">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="command_address">آدرس تاپیک
                      <span class="required">*</span>

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <input class="form-control" style="direction: ltr" type="text" [(ngModel)]="command_address"  name="command_address" id="command_address" #command_addressElement="ngModel">
                        <div class="input-group-btn">
                          <button class="btn" style="direction: ltr" disabled> {{basePathToAddTopicAddress}}</button>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                    <div class="help-block" style="color: red" *ngIf="!IsValidTopicName(command_address) && command_addressElement.touched">تنها حروف و اعداد انگلیسی و - و / قابل قبول است.</div>
                    <div class="help-block" style="color: red" *ngIf="!isCommandAddressOk()">ادرس دستور را وارد کنید</div>

                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commandValue">مقدار دستور
                      <span class="required">*</span>

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input class="form-control col-md-7 col-xs-12" id="commandValue"
                             type="text" [(ngModel)]="command_value" name="commandValue">
                      <button class="btn btn-default" style="float: left" type="button" (click)="addCommand()">اضافه کردن دستور</button>

                    </div>
                    <div class="help-block" style="color: red" *ngIf="!iscommandValueOk()">مقدار دستور را وارد نمایید.</div>


                  </div>
                  <table *ngIf="device.commands.length>0" class="table table-striped ">
                    <thead>
                    <tr>
                      <th style="width: 1%"></th>
                      <th style="width: 20%">نام دستور</th>
                      <th style="width: 20%">مقدار دستور</th>
                      <th style="width: 20%">توضیحات دستور</th>
                      <th style="width: 20%">آدرس تاپیک</th>
                      <th style="width: 20%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cm of device.commands; let i= index">
                      <td>{{i+1}}</td>
                      <td>
                        <a>{{cm.name}}</a>
                      </td>
                      <td>
                        <a>{{cm.value}}</a>
                      </td>
                      <td>
                        <a>{{cm.dsc}}</a>
                      </td>
                      <td style="direction: ltr">
                        <a>{{cm.topic}}</a>
                      </td>
                      <td class="nowrap">
                        <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> حذف </a>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div  class="form-horizontal form-label-left">
                  <h4 class="StepTitle">محتوی قدم ششم</h4>
                  <p>
                    شش
                  </p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataName">نام داده
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input class="form-control col-md-7 col-xs-12" id="dataName"
                             type="text" [(ngModel)]="dataName" name="dataName" #dataNameELement="ngModel">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataType">نوع داده
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" id="dataType" name="dataType" [(ngModel)]="data_value_type" #dataType="ngModel">
                        <option value="int">عددی</option>
                        <option value="string">رشته</option>
                        <option value="json">جیسون</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="data_topic">آدرس تاپیک
                      <span class="required">*</span>

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <input class="form-control" type="text" style="direction: ltr" [(ngModel)]="data_topic"  name="data_topic" id="data_topic" #data_topicElement="ngModel">
                        <div class="input-group-btn">
                          <button class="btn" style="direction: ltr" disabled> {{basePathToAddTopicAddress}}</button>
                        </div>
                        <!-- /btn-group -->
                      </div>
                    </div>
                    <div class="help-block" style="color: red" *ngIf="!IsValidTopicName(data_topic) && data_topicElement.touched">تنها حروف و اعداد انگلیسی و - و / قابل قبول است.</div>
                    <div class="help-block" style="color: red" *ngIf="!isDataAddressOk()">ادرس داده را وارد کنید</div>

                  </div>
                  <div class="form-group" >
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dataDsc">توضیحات

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input class="form-control col-md-7 col-xs-12" id="dataDsc"
                             type="text" name="dataDsc" [(ngModel)]="data_dsc" #dataDsc="ngModel">
                      <button class="btn btn-default" style="float: left" type="button" (click)="addData()">اضافه کردن داده</button>
                    </div>
                  </div>

                  <table class="table table-striped " *ngIf="device.data.length>0">
                    <thead>
                    <tr>
                      <th style="width: 1%"></th>
                      <th style="width: 20%">نام داده</th>
                      <th style="width: 20%">نوع داده</th>
                      <th style="width: 20%">توضیحات داده</th>
                      <th style="width: 20%">آدرس تاپیک</th>
                      <th style="width: 20%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of device.data;let i = index">
                      <td>{{i+1}}</td>
                      <td>
                        <a>{{data.name}}</a>
                      </td>
                      <td>
                        <a> {{data.value_type}}</a>
                      </td>
                      <td>
                        <a> {{data.dsc}}</a>
                      </td>
                      <td>
                        <a style="direction: ltr">{{data.topic}}</a>
                      </td>
                      <td class="nowrap">
                        <a class="btn btn-danger btn-xs" (click)="deleteData(i)"><i class="fa fa-trash-o"></i> حذف </a>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                  <div class="help-block" style="color: blue;text-align: center" *ngIf="!formRegister.valid && formRegister.submitted"> لطفا به پیغام های خطا توجه کنید. تشکر. </div>

                  <button class="btn btn-success" style="float: left" type="submit"
                          [disabled]="!IsFormValid || !IsPredataLoaded || !formRegister.valid">ایجاد دستگاه
                  </button>
                </div>
              </div>
            </form>
          </div>


        </div>
        <!-- End SmartWizard Content -->


        <!-- End SmartWizard Content -->
      </div>
    </div>


  </div>
</div>
