<div class="container body" xmlns="">
  <div class="main_container">
    <app-sidebar></app-sidebar>

    <!-- top navigation -->
    <app-top-navigation></app-top-navigation>

    <!-- /top navigation -->
    <!-- /header content -->

    <!-- page content -->
    <app-pagecontent></app-pagecontent>
    <!-- /page content -->

    <!-- footer content -->
    <app-footer></app-footer>
    <!-- /footer content -->
  </div>
</div>
<div id="lock_screen">
  <table>
    <tr>
      <td>
        <div class="clock"></div>
        <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
      </td>
    </tr>
  </table>

</div>
<!-- Custom Theme Scripts -->
<script src="assets/vendors/jquery/dist/jquery.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="assets/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="assets/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="assets/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="assets/vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="assets/vendors/moment/min/moment.min.js"></script>

<script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Chart.js -->
<script src="assets/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- gauge.js -->
<script src="assets/vendors/gauge.js/dist/gauge.min.js"></script>

<script src="assets/js/custom.js"></script>
