<div class="menu_section" xmlns="">
  <h3>عمومی</h3>
  <ul class="nav side-menu">
    <li><a><i class="fa fa-cube"></i> مدیریت دستگاه <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a routerLink="/panel/devices" routerLinkActive="active"> لیست دستگاه ها</a></li>
        <li><a routerLink="/panel/devices/create" routerLinkActive="active">افزودن دستگاه</a></li>
        <li><a>انواع دستگاه<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li class="sub_menu"><a routerLink="/panel/devices/types">لیست انواع دستگاه</a>
            </li>
            <li><a routerLink="/panel/devices/types/create"> نوع جدید</a>
            </li>

          </ul>
        </li>
      </ul>
    </li>
    <li><a><i class="fa fa-inbox"></i> مدیریت اطلاعات <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a routerLink="/panel/data" routerLinkActive="active"> داده ها</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-map-marker"></i> مدیریت موقعیت مکانی <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a routerLink="/panel/locations" routerLinkActive="active"> لیست مکان ها</a></li>
        <li><a routerLink="/panel/locations/create" routerLinkActive="active">افزودن مکان جدید</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-flash"></i> مدیریت رخ داد <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a routerLink="/panel/event" routerLinkActive="active">رخ داد</a></li>
        <li><a routerLink="/panel/event/create" routerLinkActive="active">ایحاد رخ داد</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="menu_section" xmlns="">
  <h3>مدیریت</h3>
  <ul class="nav side-menu">
    <li><a><i class="fa fa-users"></i> مدیریت کاربران <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a routerLink="/panel/users" routerLinkActive="active"> لیست کابران</a></li>
      </ul>
    </li>

  </ul>
</div>
